In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("zomatocleaned.csv")

In [25]:
data=data.drop(['Unnamed: 0'],axis=1)

In [26]:
data

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
30331,The Farm House Bar n Grill,No,No,3.7,34,Whitefield,"Casual Dining, Bar",NaN,"North Indian, Continental",800,Pubs and bars
30332,Bhagini,No,No,2.5,81,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars
30333,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,NaN,Continental,"1,500",Pubs and bars
30334,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
30335,The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars

# Que 1: in 'Banashankari' location which dish liked most

In [4]:
a=data['location']=='Banashankari'
b=data[a]
b

,Unnamed: 0,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
7,7,Onesta,Yes,Yes,4.6,2556,Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,Cafes
...,...,...,...,...,...,...,...,...,...,...,...,...
14289,23036,Kidambi's Kitchen,No,No,3.4,52,Banashankari,Quick Bites,Rooftop Ambience,South Indian,300,Dine-out
14501,23570,Stoned Monkey,Yes,No,4.3,864,Banashankari,Dessert Parlor,"Nachos, Cup Cake, Hot Chocolate Fudge, Salsa, ...","Desserts, Ice Cream",500,Delivery
14586,23931,Srikrishna Bhavan,Yes,No,3.8,42,Banashankari,Quick Bites,"Roti, Masala Dosa","South Indian, North Indian, Chinese",300,Delivery
14600,23954,The Krishna Grand,Yes,No,3.9,891,Banashankari,Casual Dining,"Spring Dosa, Coffee, Spring Roll, Masala Papad...","North Indian, South Indian, Chinese, Fast Food...",750,Delivery
27898,51874,Sai Super Sandwich,Yes,No,3.2,7,Banashankari,Quick Bites,NaN,"Sandwich, Beverages",200,Delivery

In [5]:
b['dish_liked'].value_counts().sort_values(ascending=False)

Pasta, Gelato, Garlic Bread, Mojito, Nachos, Paneer Pizza, Mocktails                               8
Pasta, Lunch Buffet, Masala Papad, Paneer Lajawab, Tomato Shorba, Dum Biryani, Sweet Corn Soup     6
Churros, Cannelloni, Minestrone Soup, Hot Chocolate, Pink Sauce Pasta, Salsa, Veg Supreme Pizza    5
Masala Dosa                                                                                        5
Farmhouse Pizza, Chocolate Banana, Virgin Mojito, Pasta, Paneer Tikka, Lime Soda, Prawn Pizza      5
                                                                                                  ..
Vegetable Biryani, Masala Dosa, Kulcha, Masala Papad, Tomato Soup                                  1
Garlic Bread, Pasta, Nachos, Salsa, Thin Crust Pizza                                               1
Pasta, Lunch Buffet, Paneer Lajawab, Masala Papad, Biryani, Tomato Shorba, Dal Makhani             1
Churros, Cannelloni, Minestrone Soup, Hot Chocolate, Pizza, Pink Sauce Pasta, Salsa                1
Coffee, Jeera Rice, Masala Dosa, Set Dosa, Neer Dosa                                               1
Name: dish_liked, Length: 106, dtype: int64

In [6]:
result=b['dish_liked'].value_counts().sort_values(ascending=False)
result.head(3)

#top 3 dishesh which are most liked in Banashankari

Pasta, Gelato, Garlic Bread, Mojito, Nachos, Paneer Pizza, Mocktails                               8
Pasta, Lunch Buffet, Masala Papad, Paneer Lajawab, Tomato Shorba, Dum Biryani, Sweet Corn Soup     6
Churros, Cannelloni, Minestrone Soup, Hot Chocolate, Pink Sauce Pasta, Salsa, Veg Supreme Pizza    5
Name: dish_liked, dtype: int64

# QUE 2 : which hotel or cafe have highest votes and Rating

In [30]:
top_votes=data.sort_values(by='votes',ascending=False)

In [31]:
top_votes.head(1)

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
28536,Byg Brewski Brewing Company,Yes,Yes,4.9,16832,Sarjapur Road,Microbrewery,"Cocktails, Butter Chicken, Dahi Kebab, Rajma C...","Continental, North Indian, Italian, South Indi...","1,600",NaN

# QUE  3 : Top cities with most count of Restaurants

In [32]:
data.groupby('location')

In [42]:
data.groupby('location').count().sort_values(by='name',ascending=False)

,name,online_order,book_table,rating,votes,rest_type,dish_liked,cuisines,approx_cost,type
location,,,,,,,,,,
BTM,2270,2270,2270,2270,2270,2253,965,2270,2270,2164
Indiranagar,1577,1577,1577,1577,1577,1575,1156,1577,1577,1373
Whitefield,1571,1571,1571,1571,1571,1566,759,1568,1571,1468
HSR,1561,1561,1561,1561,1561,1555,918,1561,1561,1434
Koramangala 5th Block,1461,1461,1461,1461,1461,1461,1209,1461,1461,1145
...,...,...,...,...,...,...,...,...,...,...
Central Bangalore,5,5,5,5,5,5,3,5,5,5
Yelahanka,4,4,4,4,4,4,2,4,4,4
Rajarajeshwari Nagar,2,2,2,2,2,2,2,2,2,2
Nagarbhavi,1,1,1,1,1,1,0,1,1,1
Peenya,1,1,1,1,1,1,0,1,1,1